{%extends 'base.html'%}
{%block content%}


<h2>Your question is :</h2>
{%for q in questions%}
<p>{{q}}</p>
{%endfor%}

<form method="POST">
	{%csrf_token%}
	<input type="text" name="question">
	<input type="submit" name="submit">
</form>


{{score}}

{%endblock%}